doctype html
html
  head
    title= Finsense
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    title FinSense
    // Bootstrap Core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')

    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')

    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')

    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    // Theme CSS
    link(href='css/agency.min.css', rel='stylesheet')

    style.
      .video-container {
      position: relative;
      padding-top: 15px !important;
      padding-bottom: 54.25% !important;
      height: 0;
      }
      .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      }


  body#page-top.index
  nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            Menu
            i.fa.fa-bars

          a.navbar-brand.page-scroll(href='/') FinSense

        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')

            li
              a.page-scroll(href='/success') Home
            if (user !== underfined)
              li
                a.page-scroll(href='https://www.instagram.com/accounts/logout',target="_blank", onclick="window.location='https://finsense.herokuapp.com/logout';") Logout
        .navbar-collapse
      .container-fluid

    block content

    script(src='vendor/jquery/jquery.min.js')

    script(src='vendor/bootstrap/js/bootstrap.min.js')

    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')

    script(src='js/agency.min.js')

    script(src='https://code.highcharts.com/highcharts.js')

    script(src='https://code.highcharts.com/modules/exporting.js')

    script(src='js/chart_js.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js')
