doctype html
html
  head
    title= Finsense
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(charset='utf-8')
    meta(name='description', content='A Template by Congruity Hub team')
    meta(name='keywords', content='HTML, CSS, JavaScript')
    meta(name='author', content='Congruity Hub team')
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(content='telephone=no', name='format-detection')
    // Fonts
    // Open Sans
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600,700italic,400,700,800italic', rel='stylesheet', type='text/css')
    // VarelaRound
    link(href='http://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
    // Icon Font - Font Awesome
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    // Stylesheets
    // External
    // Mobile menu
    link(href='/external/z-nav/z-nav.css', rel='stylesheet')
    // Touch slider - Swiper
    link(href='/external/swiper/idangerous.swiper.css', rel='stylesheet')
    // Custom
    link(href='/stylesheets/style.css?v=1', rel='stylesheet')
    // *** Favicons ***
    //if IE
      link(rel='icon', href='favicons/favicon_16x16.ico')
    link(rel='icon', href='favicons/favicon_96x96.png')
    // Specifying a Webpage Icon for Web Clip
    link(rel='apple-touch-icon-precomposed', href='favicons/favicon_57x57.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='favicons/favicon_72x72.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='favicons/favicon_114x114.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='favicons/favicon_144x144.png')
    link(rel='apple-touch-icon-precomposed', sizes='180x180', href='favicons/favicon_180x180.png')
    // Basic JavaScript
    // Modernizr
    script(src='/external/modernizr/modernizr.custom.js')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
  #top.wrapper
      header.header-placement
          .content
            .header-fixed(style='background-color: teal;')
              .container
                a.logo(href='index.html')
                  img(src='images/logo-full.png', alt='')
                nav.z-nav
                  a.z-nav__toggle(href='#')
                    span.menu-icon
                    span.menu-text navigation
                    .menu-head
                  .z-nav-inner(style='background-color : #34495e;')
                    ul.z-nav__list
                      li.z-nav__item
                        a.z-nav__link.z-nav__link--active(href='index.html', style='font-size:20px; color: white;') Home


    block content

