doctype html
html
  head
    title= Finsense
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(name='description', content='')

    meta(name='author', content='')

    title FinSense
    // Bootstrap Core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')

    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')

    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')

    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    // Theme CSS
    link(href='css/agency.min.css', rel='stylesheet')

    style.
      .video-container {
      position: relative;
      padding-top: 15px !important;
      padding-bottom: 54.25% !important;
      height: 0;
      }
      .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      }


  body#page-top.index
  nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            Menu
            i.fa.fa-bars

          a.navbar-brand.page-scroll(href='#page-top') FinSense

        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')

            li
              a.page-scroll(href='#home') Home
        .navbar-collapse
      .container-fluid
    header
      .container
        .intro-text
          .intro-lead-in(style="text-shadow: 2px 2px 8px #000;") Welcome To FinSense!

          .intro-heading(style="text-shadow: 2px 2px 8px #000;") It&apos;s Nice To Meet You

          a.page-scroll.btn.btn-xl(href='#home')
            | Sign in with Instagram
            span.fa.fa-instagram


    block content

